.cell {
  background: #6babff;
  border: 5px solid rgb(166 205 255);
  min-height: 100px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-section {
  background: rgba( 255, 255, 255, 0.6 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 50px 10px;
}

.template-preview {
  padding: 20px;
}

.template-preview h1{
  text-decoration: underline;
  text-align: center;
  margin-bottom: 50px;
}

body {
  font-family: 'Lato', serif;
  font-size: 16px;
}

.tabbable {
    border: 2px solid #9296c7;
    border-radius: 5px;
    padding: 10px;
}

.tab-content {
    padding: 10px 0;
}

.nav-tabs {
  border-bottom: 2px solid #9296c7;
}

body .nav-tabs>li>a {
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px 5px 13px 5px;
  border-radius: 50px;
  text-decoration: underline;
}

body .nav-tabs>li.active>a, body .nav-tabs>li.active>a:hover, body .nav-tabs>li>a:hover,
body .nav-tabs>li.active>a:focus, body .nav-tabs>li>a:focus {
  background: #8b00bc;
  color: white;
  text-decoration: none;
}

#backgroundWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
